version: "3.9"

services:
  terraform:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: terraform
    working_dir: /workspace
    volumes:
      - ./:/workspace
    tty: true
